body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;
}

header {
    background: url("img/Real\ tech.jpg");
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    color: #ffffff;
}

.auth-buttons {
    display: flex;
    justify-content: flex-end;
}

.auth-buttons button {
    margin-left: 15px;
    background-color: blue;
    color: #ffffff;
    border-radius: 15px;
    font-family: 'Poppins';
    padding: 10px 15px;
    cursor: pointer;

}